<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">Projects</a>
                </li>
            </ul>
        </div>
        <a routerLink="./new" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-plus '></i>
            <span class="text">Add Project</span>
        </a>
    </div>
    <div class="grid-projects mt-10">
        <div *ngFor="let project of projects" class="border cursor-pointer border-gray-300 rounded-lg p-2"
            (click)="navigateTo(project._id)">
            <div class="flex justify-between items-center pb-2">
                <p class="text-xl font-bold">{{project.title}}</p>
                {{project.manager.firstName}}
            </div>
            <div class="border-t border-gray-300 text-gray-500 text-md pt-2">
                {{project.description}}
                <div class="text-sm mt- flex justify-between items-center">
                    {{formatReadableDate(project.createdDate)}}
                    <div class="text-[#3C91E6] font-semibold text-xl">
                        <i class="font-semibold text-xl fa-solid fa-users"></i>
                        {{project.members.length}}
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</main>