<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a routerLink="/admin">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a routerLink="/admin">Projects</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">notifications</a>
                </li>
            </ul>
        </div>
        <a routerLink="../" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-list '></i>
            <span class="text">View Project List</span>
        </a>
    </div>
</main>